.cart-empty {
    background: #fff;
    box-shadow: 1px 1px 11px -1px rgba(50,50,51,.2);
    padding: 40px;
    text-align: center;
    margin-bottom: 5rem;
}
a.emtyCartBack{
    text-decoration: none !important;
}
.emtyCartBack {
    background-color: #d4d7d9;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: auto;
    padding: 12px 25px 12px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 210px;
}

.img-notFound{
    width: 75%;

}

input[type="submit"].search-button{
    background: none repeat scroll 0 0 #5a88ca;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}

.no-result{
    padding: 3rem!important;

}